* {
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #ecf0f1;
}
.navbar {
  background-color: #ecf0f1;
  border-bottom: #333 3px solid;
}
.jumbotron {
  text-align: center;
  background-color: #ecf0f1;
  margin-top: -27px;
  border-bottom: #333 3px solid;

}

/*.imgsize {

}*/

.carousel {
  margin-top: -30px;
  border-bottom: #333 3px solid;
}

.carousel-inner > .item > img {
  width: 50%;
  height: 500px;

}

.col-md-3 {
  text-align: center;
}

.w3-blue {
  border-bottom: #333 3px solid;
}

.w3-card-4 {
  border-top: #333 3px solid;
  border-right: #333 3px solid;
  border-left: #333 3px solid;
  margin: 25px 0px 25px 0px;
}

.bottom-footer {
  text-align: center;
}
