* {
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #ffffff;
}

.navbar {
  background-color: #ffffff;
  border-bottom: #777  3px solid;
}

.navfloat {
  text-align: center;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}
.jumbotron {
  text-align: center;
  background-color: #ecf0f1;
  margin-top: -27px;
  border-bottom: #777  3px solid;

}

.carousel {
  margin-top: -30px;
  border-bottom: #777  3px solid;
  height: 625px;
}

.carousel-inner > .item > img {
  width: 50%;
  height: 615px;

}

@media only screen and (max-width: 700px) {

  .carousel {
    margin-top: -30px;
    height: 215px;
  }

  .carousel-inner > .item > img {
    width: 50%;
    height: 200px;

  }
}

.col-md-3 {
  text-align: center;
}

.w3-blue {
  border-bottom: #777  3px solid;
}

.w3-card-4 {
  border-top: #777  3px solid;
  border-right: #777  3px solid;
  border-left: #777  3px solid;
  margin: 25px 0px 25px 0px;
}

.bottom-footer {
  text-align: center;
}
