* {
  margin: 0px;
  padding: 0px;
}
.navbar {
  background-color: #ecf0f1;
}
.jumbotron {
  text-align: center;
  background-color: #ecf0f1
}

.imgsize {
  width: 100%; height: auto;
}

/*.carousel {
  width:640px;
  height:360px;
}*/

.carousel-inner > .item > img {
  width: 100%;
  height: 700px;
}

/*width: 500px;*/
/*height: 360px;*/
